@import "tailwindcss";

@theme {
  --color-primary: #1E6F5C;
  --color-secondary: #64748b;
  --color-bg-custom: #edf1f5;
  --font-primary: "Arial", "Helvetica", sans-serif;
  
  --shadow-login: 0 8px 24px rgba(0, 0, 0, 0.08);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-bg-custom font-primary flex items-center justify-center min-h-screen text-secondary;
  }
}

#root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}